<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/app3.css}">
		</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		
		
		</script>
	</th:block>
</head>

<body>
	<main layout:fragment="content">
		<section class="listplus">
			<span>내가 등록한 리뷰</span>
			<br>
			<p class="intro">안녕하세요, <span th:text="${user.userId}"></span>님!</p>
		</section>
		<section>
			<article class="reviewlist">
				<div class="row">
					<div class="row-img" th:if="${fileList ne null}" th:each="file : ${fileList}" th:remove="tag">
						<img th:src="@{/upload/} + ${file.fileName}">
						<a th:href="#"></a>
					</div>
					
					<div class="card-body">
						<div class="card-text card-header">
							<h5 class="card-title" th:text="${store.storeNm}"></h5>
							<div class="delbtn">삭제</div>
							<div class="modifybtn" data-bs-toggle="modal" data-bs-target="#review-edit">수정</div>
							<div class="star">
								<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="별점">
								<h6 th:text="${review.reviewRate}"></h6>
							</div>
						</div>
						<p class="card-text card-content" th:text="${review.reviewText}"></p>
						<p class="review-date"><small class="text-muted" th:text="${review.reviewRgstdate}"></small></p>
					</div>
				</div>
			</article>
		</section>
		<!--리뷰 수정 모달 시작-->
		<div class="modal" tabindex="-1" id="review-edit">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">리뷰 수정</h5>
					</div>
					<div class="review-modal-body">
						<div class="review-info" th:if="${fileList ne null}" th:each="file : ${fileList}" th:remove="tag">
							<img th:src="@{/upload/} + ${file.fileName}">
							<h5 class="card-title mdf-ctitle" th:text="${store.storeNm}"></h5>
						</div>
						<img id="icon_star1" th:src="@{/images/star_ful.png}" alt="별점남기기">
		            	<select name="category" class="form-select" aria-label="multiple select example" style="display: inline; width:100px;">
	                        <option value="5">5</option>
	                        <option value="4">4</option>
	                        <option value="3">3</option>
	                        <option value="2">2</option>
	                        <option value="1">1</option>
	                    </select>
						<div class="text-edit">
							<textarea class="review-textarea" rows="10" th:text="${review.reviewText}"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<div class="modal-footer-btn">
							<button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" id="modalbtn">
								취소
							</button>
							<button type="button" class="btn btn-outline-warning my-modifybtn" data-bs-dismiss="modal"
								id="modalbtn" onclick="javascript:submit()">
								변경
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--모달 끝-->
	</main>
</body>

</html>